.logo {
  text-transform: capitalize;
  font-weight: bold;
  font-size: larger;
  font-family: inherit;
  color: white;
}

.logo .logo-dot{
  color: #007bff;
}

.social-media {
  background-color: rgba(89, 100, 110, 0.247);
  border-radius: .25rem;
  padding: .5rem .25rem;
}

.projects-picture.unlock{
  width: 100%;
}

.projects-details .projects-cta {
	margin-top: 40px;
	background-color: aliceblue;
}

.map {
	max-width: 100%;
}

.smooth-btn {
	border-radius: 30px;
}